#header
  %ul
    %li.logo Logo
    %li
      %a{:href => "#"} About the Show
    %li
      %a{:href => "#"} Cartoons
    %li
      %a{:href => "#"} Past Shows

#extra_info
  .about
    %h3 About the Show
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
      adipiscing lobortis leo in imperdiet. Aenean a dolor nec nisi
      ullamcorper lobortis consequat ac sem. Duis egestas, nulla id
      tristique semper, arcu diam aliquam ligula, dapibus sodales
      arcu odio a lorem. Mauris quis odio et leo fermentum eleifend. 
      %a{:href => "#"} see more&hellip;

  .recent_shows
    %a.see_all{:href => "#"} see all shows&hellip;
    %h3
      Recent Shows
  
    %ul
      %li
        .image
          %img{:height => "50px", :width => "50px", :src => "http://www.scenepointblank.com/reviews/covers/01213.jpg"}
        .description
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam adipiscing lobortis leo in imperdiet. Aenean a dolor
      %li
        .image
          %img{:height => "50px", :width => "50px", :src => "http://www.scenepointblank.com/reviews/covers/01213.jpg"}
        .description
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam adipiscing lobortis leo in imperdiet. Aenean a dolor
          nec nisi ullamcorper lobortis consequat ac sem. Duis

#next_show
  .poster
    %img{:src => "http://knoxvillechristiancenter.org/wp-content/uploads/2009/07/poster-5-5x8-5-FINAL.jpg"}

  .description
    %h2 Next Show

    %p
      Lorem ipsum dolor sit amet, 
      consectetuer adipiscing elit, sed diam 
      nonummy nibh eusmod tincidunt ut 
      laoreet dolore magna aliquam erat 
      volputate. 

    %p
      Lorem ipsum dolor sit amet, 
      consectetuer adipiscing elit, sed diam 
      nonummy nibh eusmod tincidunt ut 
      laoreet dolore magna aliquam erat 
      volputate. 

    %dl
      %dt When
      %dd 8pm, October 21st 

      %dt Where
      %dd
        Nuyorican Poet's Cafe 
        236 E. 3rdStreet 
        New York, NY 10009 MAP 
        (212) 505-8183 

    %a{:href => "#"} Buy Tickets

#footer
  %p.online
    Find us on:
    %ul
      %li
        %a{:href => "#"} Twitter
      %li
        %a{:href => "#"} MySpace
      %li
        %a{:href => "#"} Facebook
      

