#header
  %ul
    %li.logo Logo
    %li About the Show
    %li Cartoons
    %li Past Shows

#extra_info
  .about
    %h3 About the Show
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
      adipiscing lobortis leo in imperdiet. Aenean a dolor nec nisi
      ullamcorper lobortis consequat ac sem. Duis egestas, nulla id
      tristique semper, arcu diam aliquam ligula, dapibus sodales
      arcu odio a lorem. Mauris quis odio et leo fermentum eleifend. 
      %a{:href => "#"} see more&hellip;

  .recent_shows
    %h3
      Recent Shows
      %a{:href => "#"} see all shows&hellip;
  
    %ul
      %li
        .image
          %img{:height => "75px", :width => "75px", :src => "http://www.scenepointblank.com/reviews/covers/01213.jpg"}
        .description
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam adipiscing lobortis leo in imperdiet. Aenean a dolor
      %li
        .image
          %img{:height => "75px", :width => "75px", :src => "http://www.scenepointblank.com/reviews/covers/01213.jpg"}
        .description
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam adipiscing lobortis leo in imperdiet. Aenean a dolor
          nec nisi ullamcorper lobortis consequat ac sem. Duis

#next_show
  .poster
    %img{:src => "74690.jpg.jpeg"}

  .description
    %h2 Next Show

    %p
      Lorem ipsum dolor sit amet, 
      consectetuer adipiscing elit, sed diam 
      nonummy nibh eusmod tincidunt ut 
      laoreet dolore magna aliquam erat 
      volputate. 

    %p
      Lorem ipsum dolor sit amet, 
      consectetuer adipiscing elit, sed diam 
      nonummy nibh eusmod tincidunt ut 
      laoreet dolore magna aliquam erat 
      volputate. 

    %dl
      %dt When
      %dd 8pm, October 21st 

      %dt Where
      %dd
        Nuyorican Poet’s Cafe 
        236 E. 3rdStreet 
        New York, NY 10009 MAP 
        (212) 505-8183 

    %a{:href => "#"} Buy Tickets
      
